@model AiderHubAtual.Models.Inscricao

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutVoluntarioDetails";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AiderHub</title>
    <link rel="stylesheet" href="~/css/StyleDetails.css" />
</head>
<body>

    <div>

        <div class="header">
            <div class="header-container">
                <h1>@language.GetKey("Details")</h1>
                <h4>@Model.EventosInscricoes.FirstOrDefault().evento.Titulo</h4>
                <hr />
            </div>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                @language.GetKey("Date"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Data_Evento
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Hour"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Hora_Evento
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Address"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Logradouro
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Postal Code"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.CEP
            </dd>
            <dt class="col-sm-2">
                   @language.GetKey("Number"):
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Numero
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("State"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.UF
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Complement"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Complemento
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("City"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Cidade
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Neighborhood"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Bairro
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Workload"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Carga_Horaria
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Description"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Descricao
            </dd>
            <dt class="col-sm-2">
                @language.GetKey("Manager"):
            </dt>
            <dd class="col-sm-10">
                @Model.EventosInscricoes.FirstOrDefault().evento.Responsavel
            </dd>
        </dl>
    </div>
</body>
